@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
html,
body {
	height: 100%;
	margin: 0;
}

.grid2x2 {
	margin-top:7%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 80%;
}

.box {
	display: flex;
	flex-basis: calc(50% - 70px);
	justify-content: center;
	flex-direction: column;
	margin-top: 5%;
	margin-bottom: 0px;
	margin: 10px;
	height: 8%;
}

.box>div {
	margin: auto;
}

.header {
	margin-top: 10px;
	text-align: center;
}

#name {
	font-family: 'Open Sans', sans-serif;
	color: #1e272e;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 650;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #4bcffa 3px 2px 0;
    position: relative;
    margin-bottom: 10px;
    margin-top: 70px;
}

#description {
	font-size: 2em;
	text-shadow: none;
    color: #1e272e;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0)
	}
	20%,
	60% {
		transform: rotate(-25deg)
	}
	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}

.pdf {
	position: relative;
	bottom: -80%;
	color: #fff;
	text-decoration: none;
}

.badge {
	text-align: center;
	display: inline-block;
	margin: 1%;
}

.rotate-button {
	display: inline-block;
	width: 170px;
	height: 30px;
	text-align: center;
	transform-style: preserve-3d;
	cursor: pointer;
	transition: all .3s ease;
	font-family: 'arial'
}

.rotate-button .rotate-button-face,
.rotate-button .rotate-button-face-back {
	position: absolute;
	display: block;
	border: 1px solid #1e272e;
	transition: all .5s;
	color: #1e272e;
	text-decoration: none;
	width: 170px;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
}

.rotate-button .rotate-button-face {
	background-color: #ffc048;
	transform: translateZ(15px);
}

.rotate-button .rotate-button-face-back {
	background-color: #1e272e;
	color: #42b883;
	border: 1px solid #42b883;
	transform: rotateX(-90deg) translateZ(15px);
}

.rotate-button:hover {
	transform: rotateX(90deg);
}